body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
}

header{
    text-align: center;
    padding: 40px;
    background-color: #0099CC;
    color: white;
}

#countries {
    background-color:#0099CC;
    height: 50px;
    width: 200px;
    border-radius: 15px;
    margin: 30px 10px;
    border-style: none;
    font-size: medium;
    color: white;
}

#cities {
    background-color:#48BB78;
    height: 50px;
    width: 200px;
    border-radius: 15px;
    margin: 30px 10x;
    border-style: none;
    font-size: medium;
    color: white;
}

#country {
    display:block;
    width: 800px;
    height: 60px;
    margin: 0 auto;
    text-indent: 2%;
    font-size: 16px;
    background:#B6E5FA;
    border-radius: 20px;
    border-style: none;
}

#controls {
    margin: 40px 0;
    text-align: center;
}

table {
    margin: 20px auto;
    padding: 50px; 
    box-shadow: 0px 5px 10px #36454F;
}
    
td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    align-items: center;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #36b4de;
}